## Временные файлы Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
*.sln

## Сборка
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
*.symbols.nupkg
project.lock.json
project.fragment.lock.json

## Конфигурация
*.config
*.launch.json

## Логи
*.log

## Папки/файлы Rider, VS Code
.idea/
.vscode/
.vs/
packages/
Interpolation/Properties/
## Временные файлы Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates
*.csproj

## Сборка
[Bb]in/
[Oo]bj/

## NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
*.symbols.nupkg
project.lock.json
project.fragment.lock.json

## Конфигурация
*.config
*.launch.json

## Логи
*.log

## Папки/файлы Rider, VS Code
.idea/
.vscode/

## Секреты
secrets.json

## Результаты
outputData/
## Секреты
secrets.json

## Результаты
outputData/

